.singleBookInfo {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: #7a9b76;
  /* margin-right: 5vw; */
}

.bookImage {
  display: flex;
  justify-content: center;
  width: 25vh;
  height: 25vh;
  margin: 0;
  padding: 0;
}

.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25vh;
  height: 25vh;
}
/*
.singleBookInfo img {

}

.singleBookInfo h1 {

}

.singleBookInfo h3 {

}
*/
