.singleBookInfo {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px 10px 5px;
  background: #9ec5ab;
  border-radius: 10px;
  /* margin-right: 5vw; */
}

.bookImage {
  display: flex;
  justify-content: center;
  width: 20vh;
  height: 25vh;
  margin: 0;
  padding: 0;
}

.textInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25vh;
  height: 25vh;
  padding: 10px;
}

.textInfo h4 {
  text-decoration: underline;
}
/*
.singleBookInfo h3 {

}
*/
