#mainContainer {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 5vh;
  color: #32110b;
  /* height: 100%; */
}

#introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  margin: 5vh;
  color: #32110b;
}

#introduction h2 {
  text-align: center;
}

#introduction h4 {
  text-align: center;
}
