#mainContainer {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 5vh;
  /* height: 100%; */
}

.graphsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
