.navbarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  align-content: center;
  background: #c8bfc7;
  color: #32110b;
  height: 120px;
  padding: 10px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
  flex: 30% 1 0;
  font-style: italic;
}

.linkContainer {
  display: flex;
  justify-content: flex-start;
  flex: 65% 2 4;
  margin: 10px;
}

.link {
  margin: 20px;
  color: #32110b;
  flex-basis: 50%;
  font-weight: bold;
}
